body {
    font: bold 14px "Lexend", sans-serif;
}
.timeline {
    color: light-dark(#5c6b72, #c7c7c7);
    background-color: light-dark(#fdfdfd, #2c2c2c);
    margin-bottom: 15px;
    border: 1px solid light-dark(#0002, #fff2);
    border-radius: 10px;
    margin-left: 15px;
    padding: 20px;
    transition: box-shadow 0.5s;
    & a {
        color: inherit;
        text-decoration: none;
    }
    &:hover {
        box-shadow: 0 2px 8px light-dark(#0002, #fff2);
    }
}
