.LE {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	padding: 0;
	margin: 0;
}
.LE a {
	gap: 1em;
	display: flex;
	align-items: center;
	text-decoration: none;
	padding: 0.5em 0.75em;
	border-radius: 1em;
	width: 100%;
	background-color: light-dark(#f6f8fa, #2c2c2c);
}
.LE img {
	width: 3em;
	height: 3em;
	border-radius: 100%;
	background-color: white;
}
.LE span {
	display: flex;
	flex-direction: column;
}
@media (min-width: 700px) {
	.LE a {
		width: calc(45% - 0.5em);
	}
}
